<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Index</title>

    <!-- Core CSS - Include with every page -->
    <link href="http://127.0.0.1:8000/interfata/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Page-Level Plugin CSS - Tables -->
    <link href="http://127.0.0.1:8000/interfata/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="http://127.0.0.1:8000/interfata/css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <form onSubmit="return process();">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Add new database..." name="url" id="url">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" value="go">
                                    <i class="fa fa-plus"></i>
                                </button></form>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        
                       

                        {% for nameDB in listDB %}
                            {% if nameDB.0 == 'information_schema' or nameDB.0 == 'performance_schema' or nameDB.0 == 'mysql' or nameDB.0 == 'phpmyadmin' %}
                             
                        {% else %}
                        <li>
                                
                                <a href="/db_structure/?db={{ nameDB.0 }}"><i class="fa fa-database fa-fw"></i> {{ nameDB.0 }}</a>
                        </li>
                        {% endif %}
                        {% endfor %} 

                     
                       
                       
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12" style="margin-top: 20px">
                   
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Database server
                        </div>
                        <div class="panel-body">
                           <b> HOST NAME</b>: {{host_name}} <br>
                           <b> HOST IP</b>: {{host_ip}} <br>
                           <b> Nr databases: </b> {{nrDatabases}} <br>
                            
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Web server
                        </div>
                        <div class="panel-body">
                           
                        </div>
                     
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <!-- /.row -->
            
            <!-- /.row -->
           
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="http://127.0.0.1:8000/interfata/js/jquery-1.10.2.js"></script>
    <script src="http://127.0.0.1:8000/interfata/js/bootstrap.min.js"></script>
    <script src="http://127.0.0.1:8000/interfata/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="http://127.0.0.1:8000/interfata/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="http://127.0.0.1:8000/interfata/js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="http://127.0.0.1:8000/interfata/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });

    function process()
    {
        var url = "http://127.0.0.1:8000/db_create/?db=" + document.getElementById("url").value;
        location.href = url;
        return false;
    }
    </script>

</body>

</html>
